body {
    background: #bda7d3;
}

.todoTable {
    border-width: 5px 0px 5px 0px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}

.form {
    background: rgba(163, 163, 163, 0.637);
}

.lb-md {
    font-size: 20px;
  }